@import '../styles/colors';
@import '../styles/sizes';

.navLinkList {
  display: flex;
  margin: 0;
  padding-left: 0px;
  list-style: none;
}

.navLink {
  color: $bat-yellow;
  margin: 15px;
  text-decoration: none;
  font-style: italic;
  font-size: 32px;
  font-stretch: 100%;
  font-variant-caps: normal;
  font-variant-east-asian:normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 800;
  text-shadow: 2px 2px $bat-black;
}