@import 'colors';
@import 'sizes';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", HelveticaNeue, Arial;
  background: $bat-grey;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bat-blue;
  height: 60px;
}

main {
  margin: 0 auto;
  max-width: $desktop-size;
}

h1 {
  color: $bat-white;
  text-shadow: 2px 2px $bat-black;
  text-align: center;
}

img {
  max-width: 100%;
}